/*TODO
*Organize this code
*Make it responsive -> needs more testing
*Nothing more, really :P

*/
:root {
    --color-bg: #111111;
    --color-text-main: #ffffff;
    --color-primary: #ffffff;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
}

* {
    box-sizing: border-box;
    color: #ffffff;
}

[hidden] {
    display: none !important;
}

a{
    color: white !important;
}

.footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
}

html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../brand/wallp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    size: 100%;
}

.navbar-nonbs {
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    z-index: 1;
    top: 0%;
    left: 0%;
    right: 0%;
}


.main{
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    margin: 15%;
    margin-top: 100px;
    overflow: auto;
    padding: 5em;
    border-radius: 15px;
}
.main:hover{
    backdrop-filter: blur(40px);
}

.mains-main {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    overflow: auto;
}

.cta-buttons * {
    margin: 15px;
    font-size: 2rem;
}

.slogan-container {
    text-align: center;
}


#slogan {
    z-index: 10;
    padding-top: 10%;
    font-size: 5rem;
    animation: slideDown 0.75s ease-out;
    user-select: none;
    font-weight: bold;
}

#logonavbar {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;

    user-select: none;
    
}
#navbar-name {
    
    user-select: none;

}

.navbar-center {
     width: 100%;   
}

button:hover {
    cursor: pointer;
}
.navbar-anchors {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    user-select: none;
    width: 100%;
}
.navbar-shortcuts {
    padding: 1%;
    margin-left: 15px;
    width: 100%;
}

footer {
    margin-top: 0;
}
#whyus {
    z-index: 1;
    font-size: 3rem;
    animation: fadeIn 0.75s;
    font-weight: bold;
}
button {
    background: rgba(255, 115, 0, 0.4);
    border: none;
    padding: 1%;
    border-radius: 15px !important;
    animation: fadeIn 0.75s;
    transition: all 1s;
}
button:hover {
    background: rgba(255, 115, 0, 0.8);
}

p {
    user-select: none;
    color: white;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    animation: fadeIn 0.75s;
    width: 100%;
}

#whyus-boxes {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    z-index: 0;
    animation: fadeIn 0.75s;
}



.boxes {
    background: linear-gradient(to right, orange, #b828d9);
    border-radius: 15px;
    padding: 15px;
    transition: all 1s;
}

.boxes:hover {
    background: linear-gradient(to right, rgb(255, 115, 0), #d000ff);
}

.boxes * {
    display: inline;
}

.boxes img {
    height: 35px;
    position: absolute;
    margin-top: 30px;
}

.boxes div {
    display: inline-block;
    margin-left: 50px;
}

.boxes p {
    display: block;
    overflow: hidden;
    text-overflow: clip;
    max-width: 75ch;
}

.boxes .b-title {
    font-size: 1.5rem;
}

img {
    user-select: none;
}
#system-reqs {
    
    font-weight: bold;
    font-size: 3rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    

    border-style: solid;
    border-color: white;
}


.system-reqs-table {
    background-color: rgba(184, 40, 217, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

td {
    text-align: center;
}

.mobile-show-block {
    display: none;
}
.mobile-show-inline {
    display: none;
}
.mobile-show-inline-block {
    display: none;
}

@media (max-width: 1280px) {
    .main {
        margin: 0px;
        padding: 10px;
    }
    .mains-main {
        padding-top: 70px;
    }
    #whyus-boxes {
        grid-template-columns: repeat(1, 1fr);
    }
    .mobile-hide-block {
        display: none;
    }
    .mobile-show-block {
        display: block
    }
    .mobile-hide-inline {
        display: none;
    }
    .mobile-show-inline {
        display: inline
    }
    .mobile-hide-inline-block {
        display: none;
    }
    .mobile-show-inline-block {
        display: inline-block
    }
    html {
        background: #111111;
    }
    .cta-buttons *{
        font-size: 1.75rem;
        padding: 15px;
    }
    #slogan {
        font-size: 3rem;
    }
    #whyus {
        font-size: 2rem;
    }
    #system-reqs {
        font-size: 2rem;
    }
    .navbar-buttons, .navbar-shortcuts {
        font-size: 1rem;
        width: 100%;
    }
    .logonavbar {
        height: 50%;
    }
    .navbar-buttons {
        width: 100%;
    }
    .navbar-shortcuts {
        margin: 15px;
    }
}


@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
